<% layout('layouts/boilerplate')%>
<div class="container">
  <h1><%= currentUser.username %>'s Cart</h1>
  <h2>Location: <%= currentUser.location %></h2>

  <% for (let food of cart){%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <%if(food.food.image) {%>
        <img class="img-fluid" alt="" src="<%=food.food.image.url%>" />
        <% }else {%>
        <img
          class="img-fluid"
          alt=""
          src="https://acadianakarate.com/wp-content/uploads/2017/04/default-image-620x600.jpg"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= food.food.name %></h5>
          <p class="card-text">
            <small class="d-block"
              >Restaurant: <%= food.food.restaurant.username%></small
            >
            <small class="text-muted d-block"
              ><%= food.food.restaurant.location%></small
            >

            Price: <strike style="color: red">₹<%= food.food.price %></strike>
            <% if(currentUser.roles === 'customer') {%> ₹<%= 0.8*food.food.price
            %> <% } else { %> ₹<%= 0.6*food.food.price %> <% } %>
          </p>
          <form action="/cart/<%=food.food._id%>?_method=PUT" method="post">
            <strong>
              Number Of Plates:
              <input
                type="number"
                class="mx-2"
                id="count"
                value="<%= food.count %>"
                aria-label="count"
                aria-describedby="count-label"
                name="count"
                min="1"
                max="<%= (food.count + food.food.count)%>"
                required
              /><button class="btn btn-primary btn-sm mx-2 mb-1">
                Save Changes
              </button>
            </strong>
          </form>
          <form
            action="/cart/<%=food.food._id%>?_method=DELETE"
            class="d-inline"
            method="post"
          >
            <button class="btn btn-danger btn sm">Remove</button>
          </form>
          <a
            class="btn btn-primary"
            href="/restaurants/<%=food.food.restaurant._id%>"
            >View <%=food.food.restaurant.username%></a
          >
        </div>
      </div>
    </div>
  </div>
  <% }%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card-body">
          <strong
            >Total Amount: <% if(currentUser.roles === 'customer') {%> ₹<%=
            0.8*money %> <% } else { %> ₹<%= 0.6*money %> <% } %>
          </strong>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="/donateToNgo" class="btn btn-primary">Donate To NGO</a>
          <a href="/selfpickup" class="btn btn-primary">Self Pick-up</a>
          <a href="/cod" class="btn btn-primary">Payment: COD</a>
          <a href="/onlinepayment" class="btn btn-primary"
            >Payment: Online Payment</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
